body {
  font-family: "Roboto", sans-serif;
  color: #0b1f35;
  overflow-x: hidden;
}
.intl-tel-input .country-list {
  background-color: black;
  color: #000;
}
input {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
a {
  text-decoration: none;
  color: white;
}

.mainImg {
  width: 650px;
  height: auto;
  margin-left: auto;
  margin-top: 400px;
  position: relative;
  right: 50px;
  z-index: 2;

  @media (max-width: 960px) and (pointer: none) {
    transform: scale(0.85) translate(-150px, 200px);
  }
  @media only screen and (pointer: coarse) {
    width: 35%;
    right: -630px;
    margin-left: 0px;
  }
}
.backCircle {
  z-index: 1;
  width: 1000px;
  max-width: 1000px;
  position: relative;
  top: -150px;
  margin-right: -420px;
  aspect-ratio: 1 / 1;
  border-width: 10px;
  border-radius: 2000px;
  background-color: #0f1633;
  margin-left: auto;
  transform: translate(10px, 0px);
  div {
    display: none;
  }

  @media (min-width: 1200px) {
    transform: translateX(-40px);
  }
  @media (max-width: 1060px) {
    transform: scale(0.74) translate(150px, -100px);
  }
  @media (max-width: 750px) {
    transform: scale(0.74) translate(160px, -100px);
  }
  @media screen and (pointer: coarse) {
    aspect-ratio: 1/1;
    transform: scale(2.1) translate(-450px, 240px);

    div {
      display: block;
      color: white;
    }
    .headerMainLogo {
      font-size: 3.8vw;
      position: absolute;
      right: 52vw;
      top: 100px;
      div {
        font-weight: 300;
        font-size: 2vw;
      }
    }
    .backCircleTitle {
      font-size: 7.5vw;
      font-weight: 500;
      position: absolute;
      right: 19vw;
      top: 240px;
    }
    .backCircleText {
      font-size: 2.9vw;
      position: absolute;
      right: 20.5vw;
      top: 640px;
      line-height: 1.5;
    }
    .backCircleButton {
      font-size: 2.8vw;
      position: absolute;
      right: 49vw;
      top: 700px;
      line-height: 1.5;
      border-radius: 5px;
      background-color: #ef3124;
      font-weight: 500;
      padding: 5px 15px;
    }
  }
}

.main {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;

  @media (min-width: 1220px) {
    width: 1150px;
    margin-left: 0%;
  }
  @media (max-width: 960px) {
    width: 95%;
  }
  @media screen and (pointer: coarse) {
    left: 55%;
  }
}

.headerMain {
  z-index: 2;
  width: 100%;
  position: relative;
  top: 30px;
  display: flex;

  .headerMainTitle {
    strong {
      font-size: 23px;
      text-align: "center";
    }
    div {
      font-weight: 1px;
      font-size: 12px;
    }
    @media screen and (pointer: coarse) {
      display: none;
    }
  }

  .headerMainRight {
    flex-grow: 1;
    float: right;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 12px;
    height: 25px;
    margin-top: 7px;
    @media (min-width: 1200px) {
      height: 30px;
    }
    @media screen and (pointer: coarse) {
      display: none;
    }

    img {
      width: 17px;
      height: 17px;
      filter: brightness(0) invert(1);
      position: relative;
      top: 4px;
      margin-left: 12px;
      cursor: pointer;

      @media (min-width: 1200px) {
        width: 20px;
        height: 20px;
      }
    }
    .headerMainRightSail {
      border: 1px solid white;
      border-radius: 5px;
      background-color: #0b1f35;
      font-weight: 500;
      width: 160px;
      text-align: center;
      padding-top: 4px;
      margin-left: 12px;
      cursor: pointer;

      @media (min-width: 1200px) {
        padding-top: 6px;
        width: 180px;
        font-size: 14px;
      }
    }
    .headerMainRightConn {
      border: 1px solid #ef3124;
      border-radius: 5px;
      width: 120px;
      background-color: #ef3124;
      font-weight: 500;
      text-align: center;
      padding-top: 4px;
      margin-left: 12px;
      cursor: pointer;

      @media (min-width: 1200px) {
        padding-top: 5px;
        width: 115px;
        font-size: 14px;
      }
    }
  }
}

.block1 {
  width: 45%;
  position: absolute;
  top: 250px;

  strong {
    font-size: 65px;

    @media (max-width: 1200px) {
      font-size: 35px;
    }
  }
  div {
    margin-top: 20px;
    width: 60%;
    line-height: 1.5;

    @media (max-width: 960px) {
      width: 90%;
    }
  }
}

.block1Cities {
  display: flex;
  position: absolute;
  top: 730px;
  font-weight: 500;

  @media (max-width: 960px) {
    top: 730px;
  }
  @media (max-width: 600px) {
    display: none;
  }

  :first-child {
    margin-left: 0px;
    border: 1px solid red;
    background-color: red;
    color: white;
  }
  div {
    margin-left: 6px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    font-size: 13px;
    padding: 7px;
  }
}

.withWork {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin-top: -100px;
  margin-bottom: 40px;

  @media screen and (pointer: coarse) {
    margin-top: 840px;
    font-size: 8vw;
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

.withWorkCards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

  :nth-child(odd) {
    z-index: 2;
  }
  :nth-child(even) {
    z-index: 1;
  }
  @media (max-width: 960px) {
    width: 440px;
    justify-content: space-between;
    display: grid;
    gap: 15px;
    grid-template-columns: 120px 150px;
    grid-template-rows: 120px 120px;
    margin-left: 50%;
    position: relative;
    left: -270px;
  }
  @media (max-width: 960px) {
    width: 440px;
    justify-content: space-between;
    display: grid;
    gap: 15px;
    grid-template-columns: 280px 250px;
    grid-template-rows: 120px 120px;
    margin-left: 50%;
    position: relative;
    left: -270px;
  }
  @media (max-width: 600px) {
    width: 350px;
    justify-content: space-between;
    display: grid;
    gap: 15px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 140px 140px;
    margin-left: 50%;
    position: relative;
    left: -210px;
  }
  @media (max-width: 445px) {
    display: none;
  }
  @media screen and (pointer: coarse) {
    display: none;
  }
}

.withWorkCard {
  transition: all 0.3s ease;
  width: 260px;
  padding: 20px 0px 0px 20px;
  border-radius: 10px;
  display: flex;
  background-color: white;

  .withWorkCardText {
    width: 190px;

    .withWorkCardTextTitle {
      font-weight: 500;
    }
    .withWorkCardTextText {
      font-weight: 400;
      font-size: 14px;
      margin-top: 10px;
    }
  }
  .withWorkCardImg1 {
    transition: all 0.3s ease;
    opacity: 0;
    width: 60px;
    height: 130px;
  }
  .withWorkCardImg2 {
    display: none;
  }
  @media (min-width: 1200px) {
    &:hover {
      box-shadow: 0px 0px 15px LightGrey;
      .withWorkCardImg1 {
        opacity: 1;
      }
      z-index: 1000;
    }
  }

  @media (max-width: 1200px) {
    box-shadow: 0px 0px 0px LightGrey;
    border-radius: 0px;
    border-right: 1px solid LightGrey;

    .withWorkCardText {
      width: 80%;

      .withWorkCardTextTitle {
        font-weight: 500;
        font-size: 12px;
      }
      .withWorkCardTextText {
        font-weight: 400;
        font-size: 12px;
        margin-top: 10px;
      }
    }
    .withWorkCardImg1 {
      display: none;
    }
  }
  @media (max-width: 960px) {
    background-color: #ededed;
    border-radius: 10px;

    .withWorkCardImg2 {
      display: inline-block;
      position: relative;
      top: -30px;
      width: 105px;
      height: 130px;
    }
  }
  @media (max-width: 600px) {
    padding-top: 10px;
    width: 180px;

    .withWorkCardImg2 {
      display: none;
    }
  }
}

.withWorkMobCards {
  @media (max-width: 445px) {
    display: block;
    transform: scale(1.75) translateX(17.5%);
    margin-top: 160px;
  }
  @media (hover: hover) and (min-width: 445px) {
    display: none;
  }
}
.withWorkMobCard1 {
  width: 33vw;
  background-color: #ededed;
  border-radius: 35px;
  padding: 4vw;
  padding-bottom: 0px;
  margin-left: 4vw;
}
.withWorkMobCardTitle {
  font-size: 3vw;
  font-weight: 600;
  line-height: 1.4;
}
.withWorkMobCardText {
  margin-top: 10px;
  font-size: 3vw;
  line-height: 1.4;
}
.withWorkMobCardImage1 {
  width: 20vw;
  position: relative;
  margin-top: -10px;
  left: 8vw;
  height: auto;
}

.withWorkMobCard2 {
  width: 33vw;
  height: 24vw;
  background-color: #ededed;
  border-radius: 35px;
  padding: 4vw;
  padding-bottom: 0px;
  margin-left: 4vw;
}
.withWorkMobCard3 {
  margin-top: 3vw;
}

.withWorkMobCard4 {
  width: 79vw;
  height: 24vw;
  background-color: #ededed;
  border-radius: 35px;
  padding: 4vw;
  padding-bottom: 0px;
  margin-left: 4vw;
  margin-top: 4vw;
  display: flex;
}
.withWorkMobCardImage2 {
  width: 20vw;
  position: relative;
  margin-top: -15px;
  height: auto;
}

.realtySailBlock {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1130px) {
    display: block;
  }
}
.realtySail {
  margin-top: 50px;
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin-bottom: 40px;

  @media screen and (pointer: coarse) {
    margin-top: -0px;
    font-size: 3.5vh;
    margin-left: 4vw;
    margin-right: 4vw;
    position: relative;
    width: 100%;
    top: 1170px;
  }
}
.realtySailCards {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(2, 190px);
  gap: 30px;
  @media screen and (pointer: coarse) {
    font-size: 15px;
    margin-left: 30vw;
    position: relative;
    top: 1170px;
    display: block;
  }
  @media (max-width: 1130px) {
    position: relative;
    left: 50%;
    transform: translateX(-53%);
  }

  .realtySailCard {
    box-shadow: 0px 0px 15px LightGrey;
    border-radius: 20px;
    padding: 20px;
    .realtySailCardImage {
      width: 30px;
      height: auto;
    }
    .realtySailCardImage2 {
      display: none;
    }
    .realtySailCardTitle {
      font-weight: 600;
      margin: 10px 0px;
    }
    .realtySailCardText {
      line-height: 1.6;
    }
    @media screen and (pointer: coarse) {
      width: 120%;
      margin-left: -10%;
      font-size: 26px;
      margin-top: 20px;
      display: flex;
      padding: 40px 20px;
      .realtySailCardImage {
        display: none;
      }
      .realtySailCardImage2 {
        display: block;
        width: auto;
        height: 70px;
        margin-top: 40px;
        position: relative;
        left: 50px;
      }
      .realtySailCardTextBl {
        width: 80%;
      }
    }
  }
}

.calcRangeValue span::after {
  position: absolute;
  content: "";
  height: 45px;
  width: 45px;
  left: 50%;
  background: darkblue;
  transform: translateX(-50%) rotateZ(45deg);
  line-height: 55px;
  z-index: -1;
  border-radius: 50% 50% 0 50%;
  border: 3px solid white;
}

.calc {
  width: 350px;
  background-color: #0f1633;
  border-radius: 20px;
  margin-left: 90px;
  color: white;
  height: 600px;
  padding: 0px 75px;
  flex-shrink: 0;
  font-size: 15px;
  @media (max-width: 1130px) {
    width: 480px;
    padding: 10px 30px 0px;
    padding-top: 10px;
    margin-top: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }
  @media (pointer: coarse) {
    margin-top: 160px;
    height: 720px;
    transform: scale(1.15) translate(-23%, -800px);
  }

  input:focus {
    outline: none;
  }

  .calcTitle {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    @media (pointer: coarse) {
      font-size: 35px;
    }
  }
  .calcInp {
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 10px;
    width: calc(100% - 20px);
    height: 50px;
    font-size: 16px;
    padding-left: 20px;
    @media (pointer: coarse) {
      font-size: 23px;
      height: 65px;
    }
  }
  .calcSelect {
    border-radius: 6px;
    margin-top: 10px;
    width: calc(100% + 6px);
    height: 50px;
    font-size: 16px;
    padding-left: 20px;
    @media (pointer: coarse) {
      font-size: 23px;
      height: 65px;
    }

    :focus {
      outline: none;
    }
  }
  .calcSqr {
    font-size: 16px;
    margin-top: 10px;
    @media (pointer: coarse) {
      font-size: 26px;
    }
  }
  .calcRangeValues {
    width: 100%;
    font-size: 13px;
    margin: 15px 0px 5px;
    display: flex;
    justify-content: space-between;
  }
  .calcTel {
    border: 1px solid white;
    background-color: white;
    input {
      font-size: 17px;
      border: 0px solid white;
      @media (pointer: coarse) {
        font-size: 23px;
      }
    }
    border-radius: 6px;
    width: 96%;
    height: 55px;
    font-size: 16px;
    padding-left: 20px;
    @media (pointer: coarse) {
      height: 65px;
    }
  }
  .calcButton {
    border: 1px solid red;
    background-color: red;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border-radius: 6px;
    margin-top: 0px;
    width: calc(100% + 6px);
    height: 50px;
    font-size: 16px;
    padding-left: 20px;
    @media (pointer: coarse) {
      height: 65px;
    }
  }
  .calcWarning {
    margin-top: 25px;
    text-align: center;
    @media (pointer: coarse) {
      font-size: 17px;
    }
  }
}
.calcRangeBl {
  margin-top: 50px;
  .calcRangeValue {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      position: absolute;
      height: 35px;
      width: 35px;
      color: black;
      font-size: 14px;
      font-weight: 500;
      top: -50px;
      left: 60%;
      transform: translateX(-75%) scale(1);
      transform-origin: bottom;
      transition: transform 0.3s ease-in-out;
      line-height: 40px;
      z-index: 5;
    }
  }
  .calcRangeField {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    input {
      -webkit-appearance: none;
      height: 3px;
      width: 100%;
      background: red;
      border-radius: 5px;
      outline: none;
      border: none;
    }
  }
}
.calcRangeValue span::after {
  position: absolute;
  content: "";
  height: 35px;
  width: 25px;
  margin-left: -65%;
  background: white;
  color: black;
  line-height: 55px;
  z-index: -1;
  border-radius: 5px;
  transform: rotate(90deg);
  border: 3px solid white;
}
.showRangeValue {
  transform: translateX(-50%) scale(1);
}
.calcRangeField input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  background: red;
  border-radius: 50%;
}
.calcRangeField input::-moz-range-thumb {
  -moz-appearance: none;
  border: none;
  height: 30px;
  width: 30px;
  background: red;
  border-radius: 50%;
}

.services {
  font-size: 30px;
  margin-top: 360px;
  font-weight: 500;
}

.servicesCards {
  width: 100%;
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(4, 265px);
  grid-template-rows: repeat(1, 190px);
  gap: 30px;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 265px);
    grid-template-rows: repeat(2, 190px);
    justify-content: center;
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 265px);
    grid-template-rows: repeat(2, 190px);
    justify-content: center;
    transform: scale(0.8);
  }
  @media (max-width: 470px) {
    height: 190px;
    padding: 30px 0px;
    padding-left: 380px;
    position: relative;
    left: -100px;
    grid-template-columns: repeat(4, minmax(265px, 1fr));
    grid-template-rows: repeat(1, 290px);
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-direction: horizontal;
  }
  @media (max-width: 1130px) and (pointer: coarse) {
    padding: 40px 0px 190px;
    height: 400px;
    width: 0px;
    gap: 40px;
    padding-left: 800px;
    padding-right: 40px;
    grid-template-columns: repeat(4, 430px);
    grid-template-rows: repeat(1, 390px);
    margin-top: -100px;
  }
}

.servicesCard {
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 0px 0px 15px LightGrey;
  background-color: white;

  .servicesCardImage {
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: auto;
  }
  .servicesCardTitle {
    margin-top: 20px;
    font-weight: 500;
  }
  .servicesCardText {
    margin-top: 10px;
    font-size: 13px;
    line-height: 1.5;
  }
  @media (max-width: 1130px) and (pointer: coarse) {
    position: relative;
    left: 50px;
    margin-left: 80px;
    height: 350px;
    margin-top: 80px;
    width: 380px;
    .servicesCardImage {
      height: 130px;
    }
    .servicesCardTitle {
      font-size: 33px;
    }
    .servicesCardText {
      font-size: 30px;
    }
  }
}

.compare {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin-top: 50px;
  margin-bottom: 40px;

  @media screen and (pointer: coarse) {
    margin-top: 0px;
    font-size: 3.5vh;
    margin-left: 4vw;
    margin-right: 4vw;
    width: 150%;
  }
}

.compareButtons {
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid red;
  overflow: hidden;
  @media screen and (pointer: coarse) {
    width: 162%;
    margin-left: 4%;
  }

  .compareButton {
    width: 33.3333%;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    border: 1px solid red;
    cursor: pointer;
    transition: 0.3s ease;
  }
}

.compareCards {
  display: flex;
  justify-content: center;

  @media (max-width: 1215px) {
    transform: scale(0.8);
  }
  @media (max-width: 970px) {
    overflow-x: scroll;
    padding: 40px 0px;
    padding-left: 500px;
    transform: scale(1);
  }
  @media screen and (pointer: coarse) {
    overflow-x: visible;
    padding: 0px 0px;
    transform: scale(1.6) translateX(22%);
    width: 100%;
    margin-top: 250px;
  }
}
.compareCard:first-child {
  background-color: #0b1f35;
  color: white;
}
.compareCardFlexBlock:first-child {
  background-color: #7389de;
}

.compareCard {
  width: 300px;
  margin: 0px 10px;
  color: black;
  border-radius: 15px;
  padding: 0px 35px;
  box-shadow: 0px 0px 18px LightGrey;
  background-color: white;
  flex-shrink: 0;

  .compareCardTitle {
    font-size: 30px;
    font-weight: 600;
    margin: 40px 0px;
  }
  .compareCardSubtitle {
    margin-top: 30px;
    font-size: 14px;
  }
  .compareCardText {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .compareCardFlexBlock {
    display: flex;
    align-items: center;
    height: 40px;
  }
  .compareCardCircle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: red;
    flex-shrink: 0;
  }
  .compareCardCircleText {
    margin-left: 20px;
  }
  .compareCardSubtext {
    font-size: 13px;
    color: #8c94a8;
    line-height: 1.5;
  }
  .compareCardButton {
    border-radius: 5px;
    background-color: #ef3124;
    color: white;
    text-align: center;
    margin: 30px auto;
    width: 200px;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
  }
}

.about {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin-top: 50px;
  margin-bottom: 40px;

  @media screen and (pointer: coarse) {
    margin-top: 300px;
    font-size: 3.5vh;
    margin-left: 4vw;
    margin-right: 4vw;
    width: 150%;
  }
}

.aboutBlock {
  display: flex;
  justify-content: center;

  @media (max-width: 1220px) {
    transform: scale(0.85);
    margin-top: -50px;
  }
  @media (max-width: 1040px) {
    display: block;
  }
  @media screen and (pointer: coarse) {
  }
}

.aboutCards {
  width: 529px;
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(2, 265px);
  grid-template-rows: repeat(2, 190px);
  gap: 30px;
  @media (max-width: 1040px) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (pointer: coarse) {
    display: flex;
    overflow-x: scroll;
    width: 170%;
    height: 500px;
    padding: 10px 0px 90px 360px;
    margin-top: -150px;
    grid-template-columns: none;
    grid-template-rows: none;
    gap: 0px;
  }
}

.aboutCard {
  border-radius: 10px;
  padding: 0px 30px 10px 30px;
  box-shadow: 0px 0px 15px LightGrey;
  background-color: white;
  flex-shrink: 0;

  .aboutCardImage {
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    width: auto;
  }
  .aboutCardTitle {
    margin-top: 20px;
    font-weight: 500;
  }
  .aboutCardText {
    margin-top: 10px;
    font-size: 13px;
    line-height: 1.5;
  }
  @media (pointer: coarse) {
    width: 350px;
    height: 400px;
    margin-top: 0px;
    position: relative;
    left: -100px;
    top: 100px;
    margin-left: 20px;
    .aboutCardText {
      font-size: 27px;
    }
    .aboutCardImage {
      height: 140px;
    }
    .aboutCardTitle {
      margin-top: 50px;
      font-size: 35px;
    }
  }
}

.aboutFeedbacks {
  width: 529px;
  margin-left: 57px;
  border-radius: 10px;
  padding: 0px 30px 10px 30px;
  box-shadow: 0px 0px 15px LightGrey;
  background-color: white;
  height: 400px;
  position: relative;
  top: 40px;
  overflow: hidden;
  flex-shrink: 0;
  @media (max-width: 1040px) {
    margin-left: 0px;
    box-shadow: 0px 0px 0px LightGrey;
    width: 100%;
    overflow: visible;
    height: auto;
  }
  @media screen and (pointer: coarse) {
    display: block;
    width: 94%;
    margin-top: 140px;
    margin-bottom: 120px;
  }

  .aboutFeedbacksStr {
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    @media (max-width: 1040px) {
      margin-left: -10%;
    }
    @media (max-width: 1130px) and (pointer: coarse) {
      font-size: 40px;
      position: relative;
      top: -180px;
    }
  }
  .aboutFeedbacksSlider {
    display: flex;
    align-items: center;
    margin-top: 50px;
    @media (max-width: 1040px) {
      position: relative;
      width: 100%;
      justify-content: space-evenly;
    }
    @media (max-width: 1130px) and (pointer: coarse) {
      transform: scale(2) translateX(21%);
      margin-top: 100px;
    }
  }
  .aboutFeedbacksSliderArrow1 {
    width: 20px;
    padding: 10px;
    background-color: rgb(232, 232, 232);
    height: auto;
    border-radius: 50px;
    z-index: 2;
    cursor: pointer;
    @media (max-width: 1040px) {
      position: absolute;
      left: -70px;
    }
    @media (pointer: coarse) {
      left: -35px;
      width: 15px;
      padding: 5px;
    }
  }
  .aboutFeedbacksSliderArrow2 {
    width: 20px;
    padding: 10px;
    background-color: rgb(232, 232, 232);
    height: auto;
    border-radius: 50px;
    z-index: 2;
    cursor: pointer;
    transform: rotate(180deg);
    position: relative;
    @media (min-width: 1040px) {
      left: -60px;
    }
    @media (max-width: 1040px) {
      position: absolute;
      right: -10px;
    }
    @media (max-width: 1040px) and (pointer: coarse) {
      right: -15px;
      width: 15px;
      padding: 5px;
    }
  }
  .aboutFeedbacksSliderImage {
    width: 520px;
    position: relative;
    left: -60px;
    height: auto;
    transition: all 0.7s ease;
    @media (max-width: 1040px) {
      display: none;
    }
    @media (max-width: 1130px) and (pointer: coarse) {
      position: relative;
      left: -30px;
      display: none;
    }
  }

  .aboutFeedbacksSliderReview {
    width: 600px;
    position: relative;
    left: -30px;
    margin: 0px 10px;
    display: flex;
    transition: all 0.3s ease;
    .aboutFeedbacksSliderReviewImage {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      flex-shrink: 0;
    }
    .aboutFeedbacksSliderReviewTextBl {
      margin-left: 20px;
      .aboutFeedbacksSliderReviewText {
        line-height: 1.4;
        font-size: 23px;
      }
      .aboutFeedbacksSliderReviewName {
        font-weight: 600;
        margin-top: 30px;
      }
    }
    @media (max-width: 650px) {
      display: block;
      .aboutFeedbacksSliderReviewTextBl {
        margin-top: 20px;
        margin-left: 0px;
        .aboutFeedbacksSliderReviewText {
          line-height: 1.3;
          font-size: 20px;
        }
        .aboutFeedbacksSliderReviewName {
          font-size: 14px;
        }
      }
    }
    @media (min-width: 1040px) {
      display: none;
    }
    @media screen and (pointer: coarse) {
      width: 100%;
      left: -5px;
      font-size: 12px;
    }
  }
}

.aboutFeedbacksButton {
  margin: 10px auto 10px;
  width: 150px;
  background-color: #ef3124;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  @media (min-width: 1040px) {
    display: none;
  }
  @media (max-width: 1130px) and (pointer: coarse) {
    position: relative;
    left: 50%;
    margin-top: 200px;
    transform: translateX(-15%);
    width: 230px;
    font-size: 25px;
    padding: 20px;
    border-radius: 20px;
  }
}

.contacts {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin-top: 50px;
  margin-bottom: 40px;

  @media screen and (pointer: coarse) {
    margin-top: 60px;
    font-size: 3.5vh;
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

.contactsBl {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1240px) {
    display: block;
  }
  @media screen and (pointer: coarse) {
    transform: scale(1.1) translateX(8%);
    margin-bottom: 90px;
  }

  .contactReq {
    width: 520px;
    height: 230px;
    padding: 25px 30px;
    background-color: #7389de;
    color: white;
    border-radius: 15px;
    @media (max-width: 1240px) {
      margin: auto;
      width: 490px;
    }

    .contactReqTitle {
      font-size: 25px;
      font-weight: 600;
    }
    .contactReqText {
      font-weight: 500;
      font-size: 13px;
      margin-top: 20px;
    }
    .contactReqWrite {
      font-size: 14px;
      margin-top: 50px;
      font-weight: 600;
    }
    .contactReqNum {
      display: flex;
      margin-top: 25px;
      .contactReqNumInpDiv {
        width: 50%;
      }
      .contactReqNumInp {
        background-color: white;
        width: 190%;
        input {
          font-size: 17px;
          border: 0px solid black;
        }
        padding: 20px 10px;
        border-radius: 10px;
      }
      .contactReqNumSend {
        width: 170px;
        margin-left: 55px;
        padding: 14px 10px;
        margin-top: 6.5px;
        height: 20px;
        border-radius: 10px;
        background-color: #ef3124;
        text-align: center;
        flex-shrink: 0;
        font-weight: 500;
        display: flex;
        cursor: pointer;
        justify-content: center;

        @media (max-width: 1240px) {
          margin-left: 43px;
        }

        .contactReqNumSendLoad {
          position: relative;
          top: -10px;
        }
      }
    }
    @media screen and (pointer: coarse) {
      height: 500px;
      margin-top: 80px;
      .contactReqTitle {
        font-size: 40px;
      }
      .contactReqText {
        font-size: 26px;
      }
      .contactReqWrite {
        font-size: 26px;
      }
      .contactReqNum {
        display: block;
        margin-top: 25px;
        .contactReqNumInpDiv {
          width: 50%;
        }
        .contactReqNumInp {
          border-radius: 20px;
          input {
            font-size: 27px;
            border: 0px solid black;
          }
          padding: 20px 0px 20px 30px;
        }
        .contactReqNumSend {
          width: 98%;
          height: 40px;
          padding-top: 20px;
          margin-left: 0px;
          margin-top: 25px;
          font-size: 25px;
          border-radius: 20px;
          background-color: #ef3124;
          text-align: center;
          flex-shrink: 0;
          font-weight: 500;
          display: flex;
          cursor: pointer;
          justify-content: center;

          .contactReqNumSendLoad {
            position: relative;
            top: -10px;
          }
        }
      }
    }
  }
  .contactInfo {
    width: 540px;
    @media (max-width: 1240px) {
      margin: auto;
      margin-top: 40px;
      width: 530px;
      position: relative;
      left: -10px;
    }

    .contactInfoCard {
      width: 100%;
      height: 52px;
      box-shadow: 0px 0px 15px LightGrey;
      padding: 10px 0px;
      margin-bottom: 30px;
      border-radius: 10px;
      padding-left: 20px;
      .contactInfoCardTitle {
        font-size: 14px;
        font-weight: 500;
        color: #0f1633;
      }
      .contactInfoCardText {
        color: #7389de;
        font-size: 21px;
        font-weight: 600;
        margin-top: 10px;
      }
      @media screen and (pointer: coarse) {
        height: 100px;
        .contactInfoCardTitle {
          font-size: 24px;
          margin-top: 12px;
          color: #0f1633;
        }
        .contactInfoCardText {
          color: #7389de;
          font-size: 27px;
          font-weight: 600;
          margin-top: 10px;
        }
      }
    }
  }
}

.contactInfo:first-child {
  margin-top: 0px;
  background-color: black;
}

.footer {
  padding: 80px 0px;
  color: white;
  background-color: #131029;
  width: 102%;
  position: relative;
  left: -1%;
  transform: translateY(10px);
  @media screen and (pointer: coarse) {
    position: absolute;
    width: 174%;
    transform: translateX(1px);
  }

  .footerBlocks {
    display: flex;
    position: relative;
    justify-content: center;
    @media (max-width: 620px) {
      display: block;
    }

    .footerBl {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1100px) {
        display: block;
      }

      .footerCol {
        width: 250px;
        height: 200px;
        @media (max-width: 620px) {
          display: block;
          margin: auto;
        }

        .footerColTitle {
          color: #525252;
          font-size: 17px;
          font-weight: 500;
        }
        .footerColText {
          margin-top: 20px;
          font-size: 14px;
          cursor: pointer;
        }
        .footerColConn {
          margin-top: 20px;
          display: flex;

          .footerColConnTel {
            width: 200px;
            background-color: white;
            border-radius: 10px;
            border-radius: 9px;
            padding-left: 20px;
            font-size: 17px;
            height: 43px;
            position: relative;

            input {
              border: 0px solid black;
            }
          }
          .footerColConnSend {
            width: 18px;
            margin-left: 10px;
            padding: 15px;
            border-radius: 9px;
            background-color: #ef3124;
            height: auto;
            cursor: pointer;
          }
        }
      }

      @media screen and (pointer: coarse) {
        display: block;
        justify-content: right;
        position: relative;
        .footerCol {
          height: auto;
          width: 90%;
          margin-bottom: 50px;
          .footerColTitle {
            font-size: 22px;
          }
          .footerColText {
            font-size: 22px;
            cursor: pointer;
          }
          .footerColConn {
            margin-top: 20px;
            display: flex;

            .footerColConnTel {
              width: 80%;
              background-color: white;
              border-radius: 15px;
              padding-left: 20px;
              font-size: 17px;
              height: 73px;
              position: relative;

              input {
                border: 0px solid black;
                font-size: 27px;
              }
            }
            .footerColConnSend {
              width: 35px;
              margin-left: 20px;
              padding: 20px;
              border-radius: 15px;
              background-color: #ef3124;
              height: auto;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .footerUnder {
    font-size: 12px;
    color: #525252;
    margin-left: 70px;
    margin-top: 50px;
    @media screen and (pointer: coarse) {
      font-size: 17px;
    }
  }
}

.questFormCross {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 35px;
  height: auto;
  filter: invert(1);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
  &:hover {
    filter: invert(0.9);
  }
  @media screen and (pointer: coarse) {
    filter: invert(0);
    width: 50px;
  }
}
.questPopup {
}

.questFormName {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  @media screen and (pointer: coarse) {
    font-size: 40px;
    margin-top: 40px;
  }
}
.questFormText {
  text-align: center;
  @media screen and (pointer: coarse) {
    font-size: 20px;
  }
}

.questFormInput {
  width: 100%;
  border-radius: 7px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 20px;
  border: 1px solid gainsboro;
  @media screen and (pointer: coarse) {
    font-size: 30px;
    height: 90px;
    border-radius: 15px;
    padding-left: 20px;
  }
}
.questFormSend {
  width: 100%;
  border-radius: 7px;
  height: 50px;
  font-size: 17px;
  padding-left: 10px;
  margin-top: 20px;
  background-color: #ef3124;
  color: white;
  border: 0px solid white;
  @media screen and (pointer: coarse) {
    height: 80px;
    font-size: 30px;
    border-radius: 20px;
  }
}
.questFormTitle {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: -10px;
  @media screen and (pointer: coarse) {
    font-size: 30px;
  }
}
.questFormPlusminusInp {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  text-align: center;
  @media screen and (pointer: coarse) {
    font-size: 30px;
    height: 90px;
    border-radius: 15px;
    padding-left: 0px;
    width: 100px;
  }
}
.questFormAddress {
  width: 97.5%;
  border: 1px solid gainsboro;
  border-radius: 7px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 20px;
  @media screen and (pointer: coarse) {
    font-size: 30px;
    height: 90px;
    border-radius: 15px;
    padding-left: 20px;
  }
}
.questFormUnder {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  @media screen and (pointer: coarse) {
    font-size: 20px;
    font-weight: 1.3;
  }
}
.questFormTel {
  width: 98%;
  height: 50px;
  font-size: 17px;
  padding-left: 10px;
  margin-top: 20px;
  border: 1px solid gainsboro;
  font-size: 17px;
  border-radius: 7px;

  input {
    border-radius: 5px;
    border: 0px solid white;
    font-size: 17px;
    @media screen and (pointer: coarse) {
      font-size: 30px;
    }
  }
  @media screen and (pointer: coarse) {
    height: 80px;
    input {
      font-size: 30px;
    }
  }
}
